.contenedor_global {
  margin: 30px;
}

.barra_principal {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.barra_principal > div {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.buscador {
  border: 1px solid #dee2e6;
  border-radius: 0.5rem;
  padding: 0.4rem;
  outline: none;
}

.buscador::placeholder {
  font-size: 12px;
  color: #adb5bd;
  padding-left: 5px;
}

.buscador:focus {
  outline: 1px solid #125e55;
}

.search_content_button {
  display: flex;
  align-items: center;
  position: relative;
}

.search_label {
  position: absolute;
  top: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 12px;
  color: #ffffff;
  background-color: black;
  padding: 0.3rem 0.8rem 0.3rem 0.8rem;
  border-radius: 5px;
}

.search_content_button:hover .search_label {
  opacity: 1;
}

.titulo_favorito {
  font-size: 25px;
  font-weight: bold;
}

.contenedor_cuadros {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 50px 10px;
}

.contenedor_padre_cuadros {
  margin-top: 50px;
}

.contenedor_datos_cuadro img {
  height: 300px;
  width: -webkit-fill-available;
}

.contenedor_datos_cuadro button img {
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: cover;
}

.contenedor_datos_cuadro {
  position: relative;
}

.imagenContainer {
  position: relative;
}

.botonContainer {
  position: absolute;
  top: 0;
  right: 0;
}

.contenedor_datos_cuadro {
  border-radius: 9px;
  padding: 10px;
}

.title {
  font-weight: bold;
}

.contenedor_title {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.author {
  font-size: 14px;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.group_global {
  display: flex;
  align-items: center;
}

.group_global > div {
  margin-top: 20px;
  margin-right: 10px;
}

.group_children img {
  height: 15px;
  width: auto;
  margin-right: 5px;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.group_children {
  display: flex;
  margin-right: 5px;
}

.group_children p {
  margin: 0;
  font-size: 13px;
}

.group_children > div {
  margin-right: 0.2rem;
}

.notfound {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.notfound > img {
  height: auto;
  max-width: 400px;
}

.container_search {
  display: flex;
  align-items: center;
}

.btn_search {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn_search:hover {
  transform: scale(1.1);
}

.pagination {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

/*Responsive*/
@media screen and (max-width: 470px) {
  .contenedor_datos_cuadro img {
    height: auto;
  }
  .contenedor_title {
    font-size: 1.8rem;
  }
  .author {
    font-size: 1.2rem;
  }
  .group_children p {
    font-size: 1rem;
  }
  .img_icons {
    width: 1.3rem;
    height: auto;
  }
}
