.contenedor_global {
  margin: 30px;
  margin-right: 100px;
  margin-left: 100px;
}

.barra_principal {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buscador {
  border: 1px solid #ccc;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  padding: 2px;
}

.buscador::placeholder {
  font-size: 12px;
  color: #999;
  font-style: italic;
  padding-left: 5px;
}

.titulo_favorito {
  font-size: 25px;
  font-weight: bold;
}

.contenedor_cuadros {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
}

.contenedor_padre_cuadros {
  margin-top: 50px;
}

.contenedor_datos_cuadro img {
  width: 150px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.contenedor_datos_cuadro button img {
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: cover;
}

.contenedor_datos_cuadro {
  position: relative;
}

.imagenContainer {
  position: relative;
}

.botonContainer {
  position: absolute;
  top: 0;
  right: 0;
}

.contenedor_datos_cuadro {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 170px;
}

.title {
  font-weight: bold;
}

.author {
  font-size: 14px;
}

.group_global {
  display: flex;
  align-items: center;
}

.group_global > div {
  margin-top: 20px;
  margin-right: 10px;
}

.group_children img {
    height: 15px;
    width: auto;
    margin-right: 5px; /* Espacio a la derecha de la imagen */
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
  }

.group_children {
  display: flex;
  margin-right: 5px; 
}

.group_children p {
  margin: 0; /* Elimina el margen predeterminado del párrafo */
  font-size: 13px;
}
