/* Estilos generales */
.global_container {
  margin: 30px;
}

/* Contenedor de títulos */
.title_drafts_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.title_drafts_container > div {
  margin: 0 1rem 1rem 0;
}

.title_drafts {
  font-size: 25px;
  font-weight: bold;
}

/* Contenedor de borradores */
.container_drafts {
  background-color: #e9ecef;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.144);
  padding: 0.5rem;
  margin-bottom: 1rem;
  display: flex;
}

.container_drafts > * {
  margin-left: 1rem;
}

/* Contenedor de datos del libro */
.books_data_container {
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.image_port {
  height: 11rem;
}

.data_FCV {
  display: flex;
  padding-top: 0.5rem;
}

.data_FCV > div {
  margin-right: 1rem;
}

.title_book {
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size: 1.3rem;
}

.dataFCV_container {
  display: flex;
  align-items: center;
}

.img_icons {
  margin-right: 0.5rem;
}

.txt_public_parts,
.txt_actualization,
.puntuation {
  font-weight: bold;
  font-size: 0.8rem;
}

/* Botones */
.btn_new_book,
.btn_continue_writting {
  position: relative;
  background-color: #1675736c;
  color: white;
  padding: 0.2rem 1rem;
  font-weight: bold;
  font-size: 0.8rem;
  border-radius: 0.3rem;
  transition: background-color 0.3s ease;
  display: inline-block;
  text-decoration: none;
}

.btn_continue_writting {
  background-color: #125e55;
}

.btn_new_book:hover,
.btn_continue_writting:hover {
  background-color: #125e55;
}

.btn_new_book::before,
.btn_continue_writting::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 0.3rem;
}

.btn_new_book:hover::before,
.btn_continue_writting:hover::before {
  opacity: 1;
}

.write_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 153px;
}

.txt_category {
  font-weight: bold;
  font-size: 0.8rem;
}

/* Contenedor de menú */
.menu_container {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  margin-top: 10px;
}

.btn_menu {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn_menu:hover {
  transform: scale(1.1);
}

/* Contenedor de filtros */
.filters_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}

.select_container {
  font-size: 12px;
  padding-right: 1rem;
  width: 180px;
}

.search {
  border: 1px solid #dee2e6;
  border-radius: 0.5rem;
  padding: 0.4rem;
  outline: none;
}

.search:focus {
  outline: 1px solid #125e55;
}

.search::placeholder {
  font-size: 12px;
  color: #adb5bd;
  padding-left: 5px;
}

.btn_search {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn_search:hover {
  transform: scale(1.1);
}

.search_content {
  display: flex;
  align-items: center;
  position: relative;
}

.search_label {
  position: absolute;
  top: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 12px;
  color: #ffffff;
  background-color: black;
  padding: 0.3rem 0.8rem 0.3rem 0.8rem;
  border-radius: 5px;
}

.search_content:hover .search_label {
  opacity: 1;
}
.btn_continue_writting .txt_category {
  font-size: 0.8rem;
  font-weight: bold;
}

.pagination {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

/* Estilos de modal */
.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal_content {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.option_content_delete {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.btn_confirm_delete,
.btn_cancel_delete {
  color: white;
  border-radius: 0.5rem;
  padding: 0.4rem 1rem;
  transition: background-color 0.3s ease;
}

.btn_confirm_delete {
  background-color: #125e55;
}

.btn_cancel_delete {
  background-color: #b4b4b4;
}

.btn_confirm_delete:hover {
  background-color: #0c463f;
}

.btn_cancel_delete:hover {
  background-color: #858585;
}

/* Contenedor de opciones de libros */
.menu_container_options {
  width: 8rem;
  background-color: white;
  padding: 0.5rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  border-radius: 0.3rem;
  box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.144);
}

.container_option {
  display: flex;
  align-items: center;
  justify-content: left;
}

.btn_edition_option,
.btn_delete_option {
  font-size: 14px;
  padding: 0.4rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

.btn_edition_option:hover,
.btn_delete_option:hover {
  transform: scale(1);
  font-weight: bold;
}

/* Estilos responsivos */
@media screen and (max-width: 800px) {
  .title_book {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    font-size: 1.3rem;
  }

  .btn_continue_writting {
    width: 100px;
    padding-left: 1rem;
    font-size: 0.6rem;
    padding-right: 0.2rem;
    padding-left: 0.3rem;
  }

  .container_btn_options {
    display: none;
  }

  .menu_container_options {
    width: auto;
  }

  .container_option {
    display: block;
  }
}

@media screen and (max-width: 460px) {
  .image_port {
    display: none;
  }
}
