.content {
  display: flex;
}

.content_registrarse {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content_detalle {
  background-color: var(--colorFondo);
  padding: 3rem;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
}

.content_informacion > div {
  margin-bottom: 1rem;
}

.content_button_submit {
  display: flex;
  justify-content: center;
}

.content_button_submit button {
  background: var(--colorPrimario);
  padding: 1rem;
  border-radius: 1rem;
  color: aliceblue;
  width: 100%;
}

.content_button_submit button:hover {
  background-color: var(--colorHoverPrimario);
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
}

.content_button {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: 14px;
  justify-content: center;
  margin-top: 3rem;
}

.content_button a {
  color: var(--colorPrimario);
}

.content_button a:hover {
  text-decoration: underline;
}

.content_logo {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  align-items: center;
}

.content_link {
  margin-left: 4px;
}

.content_link a {
  font-weight: 600;
}

.content_errores {
  margin-bottom: 4rem;
}
