.editor-container .ql-toolbar {
    position: sticky;
    top: 5rem;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    z-index: 50; 
    justify-content: center;
  }
  
.editor-container .ql-toolbar .ql-formats{
    display: flex;
    justify-content: center;
}
.editor-container .ql-toolbar .ql-formats button {
    margin: 0 5px; 
}

.editor-container .ql-container {
    height: 32rem;
}