.global_container {
  margin: 30px;
  margin-right: 150px;
  margin-left: 150px;
}

.title_drafts_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title_drafts {
  font-size: 25px;
  font-weight: bold;
}

/*For Dratfs Container*/
.container_drafts {
  background-color: #e9ecef;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.144);
  padding: 0.5rem;
  margin-bottom: 1rem;
  display: flex;
}

.image_book_container {
  margin-left: 1rem;
}

.books_data_container {
  margin-left: 1rem;
  flex: 1;
}

.data_FCV {
  display: flex;
}

.data_FCV > div {
  margin-right: 1rem;
}

.title_book {
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size: 1.3rem;
}

.writting_container {
  display: flex;
  align-items: end;
}

.image_port {
  height: 11rem;
}

.dataFCV_container {
  display: flex;
  align-items: center;
}

.dataFCV_container img {
  margin-right: 10px;
}

.txt_public_parts {
  font-weight: bold;
  font-size: 0.8rem;
}

.txt_actualization {
  font-weight: bold;
  font-size: 0.8rem;
}

.puntuation {
  font-weight: bold;
  font-size: 0.8rem;
}

/* Button LINK */
.btn_new_book {
  position: relative;
  background-color: #1675736c;
  color: white;
  padding: 0.2rem;
  padding-right: 1rem;
  padding-left: 1rem;
  font-weight: bold;
  font-size: 0.8rem;
  border-radius: 0.3rem;
  transition: background-color 0.3s ease;
  display: inline-block;
  text-decoration: none;
}

.btn_new_book:hover {
  background-color: #125e55;
}

.btn_new_book::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 0.3rem;
}

.btn_new_book:hover::before {
  opacity: 1;
}

.btn_continue_writting {
  position: relative;
  background-color: #167574;
  color: white;
  padding: 0.2rem;
  padding-right: 1rem;
  padding-left: 1rem;
  font-weight: bold;
  font-size: 0.8rem;
  border-radius: 0.3rem;
  transition: background-color 0.3s ease;
  display: inline-block;
  text-decoration: none;
}

.btn_continue_writting:hover {
  background-color: #125e55;
}

.btn_continue_writting::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 0.3rem;
}

.btn_continue_writting:hover::before {
  opacity: 1;
}
